################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/UserSettings
/UnityEngine.UI.Player.csproj
/UnityEngine.UI.csproj
/UnityEngine.TestRunner.Player.csproj
/UnityEngine.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEditor.TestRunner.csproj
/Unity.VSCode.Editor.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.Timeline.Player.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.csproj
/Unity.TextMeshPro.Player.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.Services.Core.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.Notifications.iOS.csproj
/Unity.Notifications.csproj
/Unity.Notifications.Android.Player.csproj
/Unity.Notifications.Android.csproj
/Unity.Mobile.AndroidLogcat.Editor.csproj
/Unity.Mathematics.Player.csproj
/Unity.Mathematics.Editor.csproj
/Unity.Mathematics.csproj
/Unity.InternalAPIEngineBridge.001.Player.csproj
/Unity.InternalAPIEngineBridge.001.csproj
/Unity.InternalAPIEditorBridge.001.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.2D.Tilemap.Editor.csproj
/Unity.2D.SpriteShape.Runtime.Player.csproj
/Unity.2D.SpriteShape.Runtime.csproj
/Unity.2D.SpriteShape.Editor.csproj
/Unity.2D.Sprite.Editor.csproj
/Unity.2D.Psdimporter.Editor.csproj
/Unity.2D.PixelPerfect.Player.csproj
/Unity.2D.PixelPerfect.Editor.csproj
/Unity.2D.PixelPerfect.csproj
/Unity.2D.Path.Editor.csproj
/Unity.2D.IK.Runtime.Player.csproj
/Unity.2D.IK.Runtime.csproj
/Unity.2D.IK.Editor.csproj
/Unity.2D.Common.Runtime.Player.csproj
/Unity.2D.Common.Runtime.csproj
/Unity.2D.Common.Editor.csproj
/Unity.2D.Animation.Triangle.Runtime.Player.csproj
/Unity.2D.Animation.Triangle.Runtime.csproj
/Unity.2D.Animation.Runtime.Player.csproj
/Unity.2D.Animation.Runtime.csproj
/Unity.2D.Animation.Editor.csproj
/Temp
/PsdPlugin.csproj
/ProjectSettings
/Packages
/obj
/Logs
/Library
/lfs
/hooks
/Assets
/Assembly-CSharp.Player.csproj
/Assembly-CSharp.csproj
/AcademicianVerdansky.sln
/Academician Verdansky.sln
/.vsconfig
/.vs
